body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    padding: 10px 20px;
    background-color: #222;
    color: white;
    align-items: center;
}








header .logo {
    font-family: "Arima", system-ui;
    font-size: 24px;
    font-weight: bold;
}

/* Стиль для навігаційного меню */
nav ul {
    list-style: none; /* Видаляємо маркери списку */
    padding: 0; /* Вимикаємо відступи */
    margin: 0; /* Вимикаємо зовнішні відступи */
}

nav ul li {
    display: inline; /* Відображаємо елементи списку в рядок */
    margin: 0 15px; /* Відстань між елементами */
}

nav ul li a {
    color: white; /* Колір тексту посилань */
    text-decoration: none; /* Без підкреслення */
    font-size: 16px; /* Розмір шрифту */
}

nav ul li a:hover {
    text-decoration: underline; /* Підкреслення при наведенні */
}

.separator {
    display: inline-block; /* Зберігаємо в рядку */
    color: white; /* Колір роздільника */
    font-size: 18px; /* Розмір шрифту для роздільника */
    margin: 0 16px; /* Відстань навколо роздільника */
}

/* Контейнер для тексту */
.container {
    display: flex;
    justify-content: center; /* Центруємо по горизонталі */
    align-items: center; /* Центруємо по вертикалі */
    height: 100vh; /* Висота вікна */
    text-align: center; /* Центруємо текст */
}












.photo-logo {
    margin-left: 10px;
    width: 2%;
}

.header-text { 
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
    color: white;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    text-align: center;
    width: calc(25% - 2em);  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: scale(1.05);  
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
}



@media (max-width: 1024px) {
    .product {
        width: calc(50% - 2em); 
    }
}


@media (max-width: 768px) {
    .product {
        width: calc(100% - 2em);  
    }
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1em;
}

.price {
    font-size: 1.2em;
}

.old-price {
    text-decoration: line-through;
    color: #777;
}

.new-price {
    font-family: "Bebas Neue", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
}







footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 2em 0;
}

footer p {
    margin: 0;
    font-size: 1.2em;
}

.problems_is {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Стиль для тексту */
#textToCopy {
    cursor: pointer;
    font-size: 1em;
    padding: 5px;
    position: relative; /* Для позиціювання підказки */
}

#textToCopy:hover {
    color: #333;
}

/* Стиль для підказки */
.tooltip {
    font-family: "Kanit", sans-serif;    
    font-size: 0.8em;
    position: absolute;
    bottom: 100%; /* Розміщуємо підказку вище тексту */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* Щоб підказка не перешкоджала клікам */
    z-index: 1000;
}

/* Показуємо підказку при наведенні */
#textToCopy:hover .tooltip {
    opacity: 1;
}

/* Стиль для сповіщення */
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); /* Центруємо по горизонталі */
    background-color: rgba(53, 59, 53, 0.9); /* Трохи прозорий фон */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease; /* Плавна анімація */
    z-index: 1000;
    transform: translateY(-20px); /* Зсув вгору для випливання */
}

.show {
    opacity: 1;
    transform: translateY(0); /* Зворотний зсув для випливання */
}



















.social-icons {
    margin-top: 1em;
    display: flex;
    justify-content: center;  
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.social-icons a:hover {
    background-color: red;  
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

.social-icons img {
    width: 20px;
    height: 20px;
    filter: invert(100%);  
    transition: filter 0.3s ease;
}

.social-icons a:hover img {
    filter: invert(100%);  
}









.product-link a {
    text-decoration: none;
    color: inherit; 
    display: block; 
}

.product-link a:hover {
    text-decoration: none;

}








::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Бігунок */
::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 10px;
    transition: all 0.3s ease; /* Додаємо плавний перехід для ефекту */
}

/* Фон треку */
::-webkit-scrollbar-track {
    background-color: #333;
    border-radius: 5px;
}

/* Ефект збільшення при наведенні */
::-webkit-scrollbar-thumb:hover {
    background-color: darkorange;
    box-shadow: 0 0 5px darkorange; /* Додаємо тінь для імітації збільшення */
    transform: scale(1.5); /* Масштабування */
    border-radius: 12px; /* Трохи більший радіус */
}